<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Designer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Herbert" publicKeyToken="3072dd99f07a8c79" culture="neutral"/>
				<codeBase version="2.0.1.109" href="Herbert.exe"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="HelpPath" value="http://www.wildnoodle.com/help"/>
		<add key="HerbertTitle" value="Herbert - Tutorial"/>
		<add key="SmoothScrollSpeed" value="0"/>
		<add key="HServiceTimeOut" value="120000"/>
		<add key="IniSeedRandomDelay" value="120000"/>
		<add key="Designer.HService.HDataService" value="http://www.wildnoodle.com/hdataservice.asmx"/>
		<add key="Herbert.HService.HDataService" value="http://www.wildnoodle.com/hdataservice.asmx"/>
		<add key="LocalVersion" value="false"/>
		<add key="ContestId" value="207"/>
		<add key="WebServiceURL" value="http://www.wildnoodle.com/hdataservice.asmx"/>
		<add key="ConnectionString" value="server=VMWEBDEV01;uid=wildnoodle;pwd=Pun10Se@;database=www.wildnoodle.com_cami;Pooling=true"/>
		<!--<add key="ConnectionString" value="server=fasttrackserver;uid=wildnoodle;pwd=ftiwildnoodle;database=WNStageDev;Pooling=true"/>-->
		<!-- Log File settings -->
		<add key="logPath" value="E:\"/>
		<add key="ApplicationConfigFilePath" value="UI/AppConfig.config"/>
		<!-- Mail Settings -->
		<add key="ErrorMailSMTPServer" value="mail.fasttrackteam.com"/>
		<add key="ErrorMailTo" value="wnsupport@fasttrackteam.com"/>
		<add key="ErrorMailFrom" value="noreply@fasttrackteam.com"/>
		<add key="ErrorMailSubject" value="MSIC: Error occured in the application"/>
		<add key="SendMail" value="true"/>
		<add key="AuthenticateToTheSpoke" value="true"/>
		<add key="TheSpokeAuthenticateURL" value="http://theSpoke.net/ICReg/authent.aspx"/>
	<add key="WHerbert.HService.HDataService" value="http://www.wildnoodle.com/hdataservice.asmx"/></appSettings>
 <applicationSettings>
  <Designer.Properties.Settings>
   <setting name="Herbert_HService_HDataService" serializeAs="String">
    <value>http://www.wildnoodle.com/hdataservice.asmx</value>
   </setting>
  </Designer.Properties.Settings>
 </applicationSettings>
</configuration>
